.header div {
  display: inline-block;
  color: white;
}
.header {
  background-color: black;
}
.container-fluid {
  justify-content: center;
  margin: auto;
  text-align: center;
  display: block;
}
hr {
  color: white;
}
.navbar-nav a {
  color: white;
}
.btn-outline-success {
  color: white;
  border-color: white;
}
.hero {
  position: absolute;
  padding: 0;
  top: 0;
  z-index: -1;
}
#top-nav {
  background-color: black;
}
#main-nav {
  border-bottom: white;
}
.navbar-brand {
  font-size: 20px;
  color: white;
}
.card {
  margin: 15rem auto;
}
.card h5 {
  text-align: center;
}
.card-body label {
  font-display: flex;
}
.maincard {
  display: block;
}
img {
  width: 25rem;
  padding-top: 50px;
  padding-left: 30px;
}
.couple-sitting {
  display: flex;
  justify-content: center;
}
.oscarcare {
  width: 250px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.oscarcareheader {
  padding-top: 40px;
  padding-bottom: 0;
  width: 250px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}
.firstcouple {
  text-align: center;
}
.coverageform {
  width: 60rem;
  padding-top: 400px;
  padding-bottom: 40px;
}
.coverageformmain {
  justify-content: center;
  margin: auto;
  text-align: center;
}
.oscarlink {
  padding-left: 40px;
  color: blue;
}
.firstcouple {
  padding-top: 0px;
}
#lorem {
  width: 1000px;
  margin: auto;
  text-align: left;
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.enoughjargon {
  text-align: center;
  padding-top: 50px;
  padding-right: 500px;
}
#enoughjargon {
  background-color: beige;
  width: 1000px;
  height: 800px;
  display: block;
  margin: auto;
}
.dadandbaby {
  display: flex;
  justify-content: center;
  padding-left: 350px;
  padding-bottom: 0;
}
.dadandbabytext {
  width: 350px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 0;
}
.dadandbabyheader {
  padding-top: 40px;
  padding-bottom: 0;
  width: 350px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}
.card {
  background-color: beige;
  border-color: beige;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#rowofimages {
  display: flex;
  flex-wrap: row wrap;
  padding-left: 50px;
}
.card-text {
  padding-left: 20px;
}
